# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# IDE files
.idea/
.vscode/

# Logs & reports
*.log
reports/

# Environment variables
.env

# Python installers / archives
*.exe
*.msi
*.tgz
*.zip